<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
  <a class="navbar-brand" href="/">Job Feeds</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/scrape" id="scrape">Scrape</a>
      <a class="nav-item nav-link" href="/save">Save</a>
    </div>
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link text-primary" style="color:aliceblue" href="https://www.linkedin.com/jobs/search?keywords=Software%20Developer&location=Toronto%2C%20Ontario%2C%20Canada&trk=guest_job_search_jobs-search-bar_search-submit&redirect=false&position=1&pageNum=0" target="_blank">Linkedin Jobs</a>
    </div>
  </div>
</nav>

