<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!--jQuery Link-->
  {{!--<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> --}}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
    crossorigin="anonymous">

  <!--CSS Style Sheet-->
  <link href="https://fonts.googleapis.com/css?family=Fugaz+One" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
       <link rel="icon" href="/assets/images/tav4.png" type="image/png"  sizes="16x16">

  <title> 
    Linkedin Job Scraper!
  </title>
</head>

<body>
  <div class="container">
    <div class="jumbotron ">
        <div class="text-center">
            <h1 class="display-4"></h1>
        </div>
    </div>
 <div class="container">
  <nav id="mainnav" class="navbar navbar-expand-lg navbar-light bg-muted">
    <a class="navbar-brand" href="/">Job search</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/saved">Saved</a>
        </li>
      </ul>
      <button type="button" href="/scrape" class="btn btn-primary" id="scrape">Scrape</button>
      <a id="clear" class="btn btn-danger" href="/clear" role="button">Clear</a>
    </div>
  </nav>
  {{{ body }}}
</div>
  <!--External JS Link-->
  <script src="/assets/js/app.js"></script>
</body>

</html>