<div id="wrapper">
    <h1>Job Search</h1>
    <h2><i>Find your next software developer job!</i></h2>
    <h5>Scraped from Linkedin Jobs.</h5>

    <form action="/scrape">
        <input class='btn btn-dark' type="submit" value='Scrape Jobs'>
    </form>

    <div id="jobs"></div>
    <div id="comments"></div>
</div>